<div class="row">
	<div class="span12">
		    <ul class="breadcrumb">
              <li>
                <%= link_to "Forum", forums_path %><span class="divider">/</span>
              </li>
             
        	</ul>
		<h3 class="well"><center>Update forum</center></h3>
		<%= render 'form' %>
	</div>
</div>