<div class="row">
  <div class="span12">
        <ul class="breadcrumb">
            
              <li><%= link_to "Tournament", tournaments_path %><span class="divider">/</span></li>
                <li><%= link_to "Promotion", promotionadmins_path %><span class="divider">/</span></li>
              <li><%= link_to "Forum", forums_path %><span class="divider">/</span></li>
             
        </ul>
       </div>
   </div>