<div class="row">
  <div class="span12">
        <ul class="breadcrumb">
              <li>
                <%= link_to "Back", events_path %><span class="divider">/</span>
              </li>
              
               

              
        </ul>