<form accept-charset="UTF-8" action="/users" class="new_user"
      id="new_user" method="post">

  <label for="user_name">Complete Name:</label>
  <input id="user_name" name="user[name]" size="30" type="text" />

  <label for="user_address">Address:</label>
  <input id="user_address" address="user[address]" size="30" type="text" />

  <label for="user_contact_no">Contact #:</label>
  <input id="user_contact_no" contact_no="user[contact_no]" size="30" type="text" />

  <label for="user_gender">Gender</label>
  <input id="user_gender" gender="user[gender]" size="30" type="text" />

  <label for="user_birthday">Birthday</label>
  <input id="user_birthday" birthday="user[birthday]" size="30" type="text" />

  <label for="user_belt_name">Belt Name</label>
  <input id="user_belt_name" belt_name="user[belt_name]" size="30" type="text" />

<label for="user_dojo">Dojo</label>
  <input id="user_dojo" dojo="user[dojo]" size="30" type="text" />

  <label for="user_location">Location</label>
  <input id="user_location" location="user[location]" size="30" type="text" />

  <label for="user_instructor_name">Instructor Name</label>
  <input id="user_instructor_name" instructor_name="user[instructor_name]" size="30" type="text" />



  <label for="user_email">Email</label>
  <input id="user_email" name="user[email]" size="30" type="text" />

  <label for="user_password">Password</label>
  <input id="user_password" name="user[password]" size="30"
         type="password" />

  <label for="user_password_confirmation">Confirmation</label>
  <input id="user_password_confirmation" 
         name="user[password_confirmation]" size="30" type="password" />
         
  <input class="btn btn-large btn-primary" name="commit" type="submit" 
         value="Create my account" />
</form> 