<div class="row">
  <div class="span12">
        <ul class="breadcrumb">
              <li>
                <%= link_to "Back", galaries_path %><span class="divider">/</span>
              </li>
               <%= link_to "Upload video", '#', :class => "pull-right label label-info" %>
              
        </ul>