<div class="row">
  <div class="span12">
        <ul class="breadcrumb">
              <li>
                <%= link_to "Tournaments", tournamentusers_path %><span class="divider">/</span>
              </li>
              
               <li>
                <%= link_to "Promotions", promotionusers_path %><span class="divider">/</span>
              </li>


        </ul>