<div class="row">
	<div class="span12">
		<ul class="breadcrumb">
			<li>
              <h3 class="well"><center>Promotion Form</center></h3>
            	<%= render 'form' %>

            </ul>
	</div>
</div>