<div class="center hero-unit">
	<h1>Welcome to Kyokushin</h1>
<center><h2>Please click the button to sign up</h2></center>
	<%= link_to "sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	

</div>