<div class="row">
  <div class="span10">
        <ul class="breadcrumb">
              <li>
                <%= link_to "Picture", pictures_path %><span class="divider">/</span>
              </li>
              
               <li>
                <%= link_to "Video", '#' %><span class="divider">/</span>
              </li>
        </ul>